.ct-grid {
  stroke-dasharray: 0px;
  stroke: rgba(0, 0, 0, 0.1); }

.ct-label {
  font-size: 0.9rem; }

.WidgetlineChart .ct-point {
  stroke-width: 0px; }

.WidgetlineChart.WidgetChart1.WidgetlineChartShadow {
  -webkit-filter: drop-shadow(0px 15px 6px rgba(47, 139, 230, 0.6));
  filter: drop-shadow(0px 15px 6px rgba(47, 139, 230, 0.6)); }

.WidgetlineChart.WidgetChart1 .ct-line {
  stroke: #2F8BE6; }

.WidgetlineChart.WidgetChart2.WidgetlineChartShadow {
  -webkit-filter: drop-shadow(0px 15px 6px rgba(247, 126, 23, 0.6));
  filter: drop-shadow(0px 15px 6px rgba(247, 126, 23, 0.6)); }

.WidgetlineChart.WidgetChart2 .ct-line {
  stroke: #F77E17; }

.WidgetlineChart.WidgetChart3.WidgetlineChartShadow {
  -webkit-filter: drop-shadow(0px 15px 6px rgba(151, 90, 255, 0.6));
  filter: drop-shadow(0px 15px 6px rgba(151, 90, 255, 0.6)); }

.WidgetlineChart.WidgetChart3 .ct-line {
  stroke: #975AFF; }

.WidgetlineChart.WidgetChart4.WidgetlineChartShadow {
  -webkit-filter: drop-shadow(0px 15px 6px rgba(64, 192, 87, 0.6));
  filter: drop-shadow(0px 15px 6px rgba(64, 192, 87, 0.6)); }

.WidgetlineChart.WidgetChart4 .ct-line {
  stroke: #40C057; }

.lineChart1 .apexcharts-tooltip {
  color: #342E49 !important; }

.lineChart1Shadow {
  -webkit-filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.1));
  /* Same syntax as box-shadow, except for the spread property */ }

.donut1 .ct-label {
  font-size: 4rem;
  fill: #F77E17; }

.donut1 .ct-outstanding .ct-slice-donut {
  stroke: #f5f5f5; }

.donut1 .ct-done .ct-slice-donut {
  stroke: #FCC173; }

.donut2 .ct-label {
  font-size: 4rem;
  fill: #2F8BE6; }

.donut2 .ct-outstanding .ct-slice-donut {
  stroke: #f5f5f5; }

.donut2 .ct-done .ct-slice-donut {
  stroke: #81C8F7; }

.donut3 .ct-label {
  font-size: 4rem;
  fill: #F55252; }

.donut3 .ct-outstanding .ct-slice-donut {
  stroke: #f5f5f5; }

.donut3 .ct-done .ct-slice-donut {
  stroke: #FCA897; }

.weather-pic {
  object-fit: cover; }

.lineChart2 .ct-point-circle {
  stroke-width: 2px;
  fill: #fff; }

.lineChart2 .ct-line {
  stroke-width: 1px; }

.lineChart2 .ct-series-a .ct-line {
  stroke: #60AFF0; }

.lineChart2 .ct-series-a .ct-point-circle {
  stroke: #2F8BE6; }

.lineChart2 .ct-series-b .ct-line {
  stroke: #6CD975; }

.lineChart2 .ct-series-b .ct-point-circle {
  stroke: #40C057; }

.lineChart2Shadow {
  -webkit-filter: drop-shadow(0px 16px 6px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 16px 6px rgba(0, 0, 0, 0.15));
  /* Same syntax as box-shadow, except for the spread property */ }

.WidgetlineChart5 .ct-point {
  stroke-width: 0px; }

.WidgetlineChart5 .ct-line {
  stroke: url(#widgradient1) !important; }

.WidgetlineChart5 .ct-grid {
  stroke: transparent !important; }

.WidgetlineChart5Shadow {
  -webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.2));
  /* Same syntax as box-shadow, except for the spread property */ }

.dash2-user img {
  width: 6.5rem;
  background-color: transparent;
  border: 2px solid #975AFF;
  padding: 0.4rem; }

.dash2-progress {
  height: 1rem;
  background-color: #F7F7F8; }
  .dash2-progress .progress-bar {
    border-radius: 0; }
    .dash2-progress .progress-bar:last-child {
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit; }

.lineAreaChart .ct-line {
  stroke-width: 1px; }

.lineAreaChart .ct-point-circle {
  stroke-width: 2px;
  fill: #fff; }

.lineAreaChart .ct-series-a .ct-area {
  fill: #B583FF; }

.lineAreaChart .ct-series-a .ct-point-circle,
.lineAreaChart .ct-series-a .ct-line {
  stroke: #975AFF; }

.lineAreaChart .ct-series-b .ct-area {
  fill: #F9877C;
  fill-opacity: 0.1; }

.lineAreaChart .ct-series-b .ct-point-circle {
  stroke: #F55252; }
