.draggable {
  cursor: grab; }
  .gu-unselectable .draggable {
    cursor: grabbing; }

.draggable-move {
  cursor: move; }
  .gu-unselectable .draggable-move {
    cursor: move; }

#multiple-list-group-a,
#multiple-list-group-b {
  min-height: 5.714rem; }

#dd-with-handle .list-group {
  min-height: 5.714rem; }
  #dd-with-handle .list-group .handle {
    padding: 2px 6px 0;
    margin-right: 10px;
    background-color: #eee;
    font-size: 1.2rem; }
