.search-wrapper .search-bar .page-search-input input {
  background-color: #fff; }

.search-wrapper .search-bar .search-btn {
  right: 0.4rem;
  top: 0.3rem; }
  @media (max-width: 575.98px) {
    .search-wrapper .search-bar .search-btn {
      padding: 0.65rem 1.25rem; } }

.search-wrapper .video-result-swiper.swiper-container .swiper-slide {
  font-weight: 500;
  background-color: #fff;
  height: auto;
  width: 18.66rem;
  padding: 0.7rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .search-wrapper .video-result-swiper.swiper-container .swiper-slide .slide-content .card-img-overlay i {
    color: rgba(255, 255, 255, 0.65); }

.search-wrapper .video-result-swiper .swiper-button-next:after,
.search-wrapper .video-result-swiper .swiper-button-prev:after {
  width: 2.35rem;
  height: 2.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #975AFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important; }

.search-wrapper .video-result-swiper .swiper-button-next.swiper-button-disabled,
.search-wrapper .video-result-swiper .swiper-button-prev.swiper-button-disabled {
  display: none; }
